{% if public_files %}
    {% for file in public_files %}
        {% set privacy_text_color = 'text-primary text-opacity-75' %}
        {% set privacy_border_color = 'border-primary' %}
        <div class="accordion accordion-dark-small">
            <div class="accordion-item mb-2">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed shadow-none d-flex justify-content-between
                            border-start border-4 {{ privacy_border_color }} border-opacity-25"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsePublicFile{{ file['id'] }}" aria-expanded="true"
                            aria-controls="collapsePublicFile{{ file['id'] }}">
                        <span class="d-inline-block text-truncate py-2" style="max-width: 280px; font-size: .875rem;">
                            {{ file['original_file_name'] }}
                        </span>
                    </button>
                </h2>
                <div id="collapsePublicFile{{ file['id'] }}" class="accordion-collapse collapse">
                    <div class="accordion-body px-0 py-0" style="font-size: .875rem;">
                        <ul class="list-group list-group-flush"
                            style="--bs-list-group-bg: none;">
                            <li class="list-group-item bg-transparent py-1">
                                <div class="row align-items-center text-body-tertiary">
                                    <div class="col-md-3">
                                        Description:
                                    </div>
                                    <div class="col-md-9 text-end text-truncate">
                                        {{ file['description'] if file['description'] else 'No description' }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent py-1">
                                <div class="row align-items-center text-body-tertiary">
                                    <div class="col-md-3">
                                        Upload date:
                                    </div>
                                    <div class="col-md-9 text-end">
                                        {{ file['upload_date'] }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent py-1">
                                <div class="row align-items-center text-body-tertiary">
                                    <div class="col-md-3">
                                        Expiration date:
                                    </div>
                                    <div class="col-md-9 text-end">
                                        {{ file['expires'] }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent py-1">
                                <div class="row align-items-center text-body-tertiary">
                                    <div class="col-md-3">
                                        Owner:
                                    </div>
                                    <div class="col-md-9 text-end">
                                        {{ file['username'] }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent py-1">
                                <div class="row align-items-center text-body-tertiary">
                                    <div class="col-md-3">
                                        Size:
                                    </div>
                                    <div class="col-md-9 text-end">
                                        {{ (file['size_in_bytes'] / (1024 * 1024))|round(2) }} Mb.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-1">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="input-group">
                                            {% set file_link = url_for('file_uploader.download_file', unique_file_name=file['unique_file_name'], _external=True) %}
                                            <button class="btn btn-outline-secondary px-2 py-0"
                                                    style="font-size: .875rem;"
                                                    type="button" id="button-copy-addon2"
                                                    onclick="copyToClipboard('LinkPublicFile{{ file['id'] }}')">
                                                Copy
                                            </button>
                                            <a class="btn btn-sm btn-outline-secondary px-2" href="{{ file_link }}" target=”_blank”>
                                                Open
                                            </a>
                                            <input class="form-control form-control-sm bg-transparent
                                                   border-1 border-tertiary shadow-none
                                                   focus-primary-subtle text-body-secondary"
                                                   type="url" id="LinkPublicFile{{ file['id'] }}"
                                                   value="{{ file_link }}"
                                                   aria-label="readonly input example" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div>
        <div class="card card-body text-center py-1 mb-2" style="font-size: .875rem;">
            Nothing yet here.
        </div>
    </div>
{% endif %}