{% extends 'base.html' %}

{% block content %}
	<!--Send form-->
	<div class="card text-center justify-content-center col-md-4 offset-md-4 mb-3">
		<div class="card-header text-center bg-dark fs-6 mb-3">
			Leave your message here
		</div>
		{% if not current_user.is_authenticated %}
			<div class="card-body ps-3 pe-3 pt-0 pb-0">
				<div class="card card-body mb-3 bg-body-secondary border border-secondary-subtle"
					 style="font-size: .875rem;">
					<p class="mb-0">
						Leaving a message is <a href="{{ url_for('log_in', next=url_for('leave_message')) }}"
												class="link-body"
												style="color: var(--bs-body-color);">log in</a> required.
					</p>
				</div>
			</div>
		{% else %}
			<form method="post" id="send_message_form">
				<div class="card-body ps-3 pe-3 pt-0 pb-0">
					<textarea class="form-control mb-3" maxlength="{{ config['POST_MAXLENGHT'] }}"
							  placeholder="Start writing your message..." id="leave_message_textarea1"
							  rows="3" name="msg_text">{{ msg_text if msg_text is not none }}</textarea>
				</div>
				<div class="card-footer bg-stripes-body fs-6">
					<div class="row g-0 align-items-center">
						<div class="col-md-4 text-start">
							<button type="button" class="btn btn-sm btn-secondary px-1 py-0"
									data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Clear text"
                                	data-bs-custom-class="tooltip-body"
									data-bs-trigger="hover"
									onclick="resetForm('send_message_form')">
								<svg class="bi flex-shrink-0" role="img">
									<use xlink:href="#trash-fill"/>
								</svg>
							</button>
						</div>
						<div class="col-md-4 text-center">
							<button type="submit" class="btn btn-primary btn-sm">Leave</button>
						</div>
					</div>
				</div>
			</form>
		{% endif %}
	</div>
	<!--Messages-->
	<div class="card col-md-4 offset-md-4 mb-3">
		<!--Messages header-->
		<div class="card-header text-start bg-dark fs-6">
			Messages
		</div>
		<div id="posts-container" class="card-body pb-0">
		</div>
		<div class="card-footer bg-stripes-body">
			<div class="row g-0 align-items-center">
				<div class="col-md-4 offset-md-4 text-center">
					<button id="load-more" type="button" class="btn btn-primary btn-sm">Load more</button>
				</div>
				<div class="col-md-4 text-end text-body-secondary">
					<span>
						<span id="posts-count"></span> out of
						<span id="posts-total"></span> messages
					</span>
				</div>
			</div>
		</div>
	</div>
	{% if current_user.is_authenticated %}
		<script type="text/javascript" src="{{ url_for('static', filename='reset_form.js') }}"></script>
	{% endif %}
	<script type="text/javascript" src="{{ url_for('static', filename='manage_posts.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='update_post_likes.js') }}"></script>
{% endblock %}