{% extends 'base.html' %}

{% if not validations %}
    {% set file_validation = "" %}
    {% set accessibility_validation = "" %}
    {% set expiration_validation = "" %}
    {% set description_validation = "" %}
    {# feedbacks #}
    {% set file_feedback = "" %}
    {% set accessibility_feedback = "" %}
    {% set expiration_feedback = "" %}
    {% set description_feedback = "" %}
{% else %}
    {% set file_validation = "is-invalid" if not validations["file"]["check"] else "" %}
    {% set accessibility_validation = "is-invalid" if not validations["accessibility"]["check"] else "" %}
    {% set expiration_validation = "is-invalid" if not validations["expiration"]["check"] else "" %}
    {% set description_validation = "is-invalid" if not validations["description"]["check"] else "" %}
    {# feedbacks #}
    {% set file_feedback = validations["file"]["feedback"] %}
    {% set accessibility_feedback = validations["accessibility"]["feedback"] %}
    {% set expiration_feedback = validations["expiration"]["feedback"] %}
    {% set description_feedback = validations["description"]["feedback"] %}
{% endif %}

{% block content %}
	<div class="card col-md-4 offset-md-4 mb-3">
		<!--Upload form-->
		<div class="card-header text-center bg-dark fs-6 mb-3">
			Upload your file here
		</div>
		{% if not current_user.is_authenticated %}
			<div class="card-body ps-3 pe-3 pt-0 pb-0">
				<div class="card card-body mb-3 bg-body-secondary border border-secondary-subtle text-center"
					 style="font-size: .875rem;">
					<p class="mb-0">
						Uploading a file is <a href="{{ url_for('log_in', next=url_for('upload_file')) }}"
												class="link-body"
												style="color: var(--bs-body-color);">log in</a> required.
					</p>
				</div>
			</div>
		{% else %}
			<!--Upload form-->
			<form method="post" enctype="multipart/form-data" id="upload_file_form">
				<div class="card-body ps-3 pe-3 pt-0 pb-0">
					<div class="row g-2">
						<div class="col-md-12">
							<div class="bd-callout bd-callout-info mt-0 mb-0" style="font-size: .875rem;">
								File must be less than {{ (config['FILE_UPLOAD_MAX_SIZE'] / (1024 * 1024))|int }} Mb.<br>
								Possible extensions: .txt, .pdf, .png, .jpg, .gif, .docx, .xlsx, .pptx, .rar
									and others.
							</div>
						</div>
						<div class="col-md-12">
							<p class="text-secondary fs-6 mb-0 pb-0">
								File
							</p>
						</div>
						<!--File-->
						<div class="col-md-12">
							<input class="form-control form-control-sm {{ file_validation }}"
								   type="file" id="formFile" name="outcoming_file" required>
							<div class="invalid-feedback">
                            	{{ file_feedback }}
							</div>
							<div class="valid-feedback">
								{{ file_feedback }}
							</div>
						</div>
						<!--Accessibility-->
						<div class="col-md-6">
							<select class="form-select form-select-sm {{ accessibility_validation }}"
                                id="validationPrivacy" name="privacy" required>
								{% if form is defined %}
									<option disabled value="">Accessibility</option>
								{% else %}
									<option selected disabled value="">Accessibility</option>
								{% endif %}
								{% for accessibility_option in config['FILE_UPLOAD_ACCESSIBILITY_OPTIONS'] %}
									{% if form is defined and form.accessibility == accessibility_option|string %}
										<option selected="selected">{{ accessibility_option }}</option>
									{% else %}
										<option>{{ accessibility_option }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<div class="invalid-feedback">
                            	{{ accessibility_feedback }}
							</div>
							<div class="valid-feedback">
								{{ accessibility_feedback }}
							</div>
						</div>
						<!--Expiration-->
						<div class="col-md-6">
							<select class="form-select form-select-sm {{ expiration_validation }}"
                                id="validationExpiration" name="expiration" required>
								{% if form is defined %}
									<option disabled value="">Expiration time</option>
								{% else %}
									<option selected disabled value="">Expiration time</option>
								{% endif %}
								{% for expiration_option in config['FILE_UPLOAD_EXPIRATION_OPTIONS'] %}
									{% if form is defined and form.expiration == expiration_option|string %}
										<option selected="selected">{{ expiration_option }}</option>
									{% else %}
										<option>{{ expiration_option }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<div class="invalid-feedback">
                            	{{ expiration_feedback }}
							</div>
							<div class="valid-feedback">
								{{ expiration_feedback }}
							</div>
						</div>
						<!--Description-->
						<div class="col-md-12">
							<p class="text-secondary fs-6 mb-0 pb-0">
								Description (optional)
								<i class="bi bi-pencil-fill"></i>
							</p>
						</div>
						<div class="col-md-12">
							<textarea class="form-control form-control-sm {{ description_validation }}"
                                placeholder="File description..." id="validationDescription"
								name="file_description" rows="2"
								maxlength="{{ config['FILE_DESCRIPTION_LENGTH'] }}">{{ form.description if form is defined }}</textarea>
							<div class="invalid-feedback">
                            	{{ description_feedback }}
							</div>
							<div class="valid-feedback">
								{{ description_feedback }}
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer bg-stripes-body fs-6 mt-3">
					<div class="row g-0 align-items-center">
						<div class="col-md-4 text-start">
							<button type="button" class="btn btn-sm btn-secondary px-1 py-0"
									data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Erase"
                                	data-bs-custom-class="tooltip-body"
									data-bs-trigger="hover"
									onclick="resetForm('upload_file_form')">
								<svg class="bi flex-shrink-0" role="img">
									<use xlink:href="#eraser-fill"/>
								</svg>
							</button>
						</div>
						<div class="col-md-4 text-center">
							<button type="submit" class="btn btn-sm btn-primary">Upload</button>
						</div>
					</div>
				</div>
			</form>
		{% endif %}
	</div>
	<!--Private files-->
	{% if current_user.is_authenticated %}
		<div class="card col-md-4 offset-md-4 mb-3">
			<div class="card-header text-start bg-dark fs-6 mb-3">
				Your files
			</div>
			<div id="private-files-container" class="card-body py-0">
				<!--files-->
				{% if user_files %}
					{% for file in user_files %}
						{% set privacy_text_color =
							"text-primary-emphasis" if file['privacy'] == 'Public'
							else "text-warning-emphasis" if file['privacy'] == 'By link'
							else "text-success-emphasis" %}
						{% set privacy_border_color =
							"border-primary" if file['privacy'] == 'Public'
							else "border-warning" if file['privacy'] == 'By link'
							else "border-success" %}
						<div class="accordion accordion-dark-small">
							<div class="accordion-item mb-2">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed shadow-none d-flex justify-content-between
											border-start border-4 {{ privacy_border_color }} fs-6"
											type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseFile{{ file['id'] }}" aria-expanded="true"
											aria-controls="collapseFile{{ file['id'] }}">
										<span class="d-inline-block text-truncate" style="max-width: 180px;">
											{{ file['original_file_name'] }}
										</span>
									</button>
								</h2>
								<div id="collapseFile{{ file['id'] }}" class="accordion-collapse collapse">
									<div class="accordion-body px-0 py-0" style="font-size: .875rem;">
										<ul class="list-group list-group-flush py-0"
											style="--bs-list-group-bg: none;">
											<li class="list-group-item py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Privacy:
													</div>
													<div class="col-md-9 text-end {{ privacy_text_color }}">
														{{ file['privacy'] }}
													</div>
												</div>
											</li>
											<li class="list-group-item py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Size:
													</div>
													<div class="col-md-9 text-end text-body-secondary">
														{{ (file['size_in_bytes'] / (1024 * 1024))|round(2) }} Mb.
													</div>
												</div>
											</li>
											<li class="list-group-item bg-transparent py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Description:
													</div>
													<div class="col-md-9 text-end {{ 'text-body-secondary' if file['description'] else 'text-body-tertiary' }} text-truncate">
														{{ file['description'] if file['description'] else 'No description' }}
													</div>
												</div>
											</li>
											<li class="list-group-item bg-transparent py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Upload date:
													</div>
													<div class="col-md-9 text-end text-body-secondary">
														{{ file['upload_date'] }}
													</div>
												</div>
											</li>
											<li class="list-group-item bg-transparent py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Expiration date:
													</div>
													<div class="col-md-9 text-end text-body-secondary">
														{{ file['expires'] }}
													</div>
												</div>
											</li>
											<li class="list-group-item bg-transparent py-1">
												<div class="row align-items-center">
													<div class="col-md-3">
														Owner:
													</div>
													<div class="col-md-9 text-end text-body-secondary">
														{{ file['username'] }}
													</div>
												</div>
											</li>
											<li class="list-group-item bg-transparent py-1">
												<div class="row align-items-center">
													<div class="col-md-12 text-end">
														<div class="input-group">
															<input class="form-control form-control-sm border-1 shadow-none
																   focus-primary-subtle text-body-secondary"
																   type="url" id="LinkFile{{ file['id'] }}"
																   value="{{ url_for('download_file', unique_file_name=file['unique_file_name'], _external=True) }}"
																   aria-label="readonly input example" readonly>
															<button class="btn btn-secondary px-2 py-0"
																	style="font-size: .875rem;"
																	type="button" id="button-copy-addon1"
																	onclick="copyToClipboard('LinkFile{{ file['id'] }}')">Copy</button>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="card card-body text-center py-1 mb-2" style="font-size: .875rem;">
						You have not uploaded any file.
					</div>
				{% endif %}
			</div>
			<div class="card-footer bg-stripes-body mt-2">
				<div class="row g-0 align-items-center">
					<div class="col-md-12 text-end text-body-secondary">
						<span>
							<span id="private-files-count">{% if user_files %} {{ user_files|length }} {% else %} 0 {% endif %}</span> /
							<span id="private-files-allowed">{{ config["FILES_PER_USER"] }}</span> private files uploaded
						</span>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<!--Public files-->
	<div class="card col-md-4 offset-md-4 mb-3">
		<div class="card-header text-start bg-dark fs-6">
			Public files
		</div>
		<div id="public-files-container" class="card-body pb-0">
			{% if public_files %}
				{% for file in public_files %}
					{% set privacy_text_color = 'text-primary-emphasis' %}
					{% set privacy_border_color = 'border-primary' %}
					<div class="accordion accordion-dark-small">
						<div class="accordion-item mb-2">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed shadow-none d-flex justify-content-between
										border-start border-4 {{ privacy_border_color }}"
										type="button" data-bs-toggle="collapse"
										data-bs-target="#collapsePublicFile{{ file['id'] }}" aria-expanded="true"
										aria-controls="collapsePublicFile{{ file['id'] }}">
									<span class="d-inline-block text-truncate" style="max-width: 180px;">
										{{ file['original_file_name'] }}
									</span>
								</button>
							</h2>
							<div id="collapsePublicFile{{ file['id'] }}" class="accordion-collapse collapse">
								<div class="accordion-body px-0 py-0" style="font-size: .875rem;">
									<ul class="list-group list-group-flush"
										style="--bs-list-group-bg: none;">
										<li class="list-group-item py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Privacy:
												</div>
												<div class="col-md-9 text-end {{ privacy_text_color }}">
													{{ file['privacy'] }}
												</div>
											</div>
										</li>
										<li class="list-group-item py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Size:
												</div>
												<div class="col-md-9 text-end text-body-secondary">
													{{ (file['size_in_bytes'] / (1024 * 1024))|round(2) }} Mb.
												</div>
											</div>
										</li>
										<li class="list-group-item bg-transparent py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Description:
												</div>
												<div class="col-md-9 text-end {{ 'text-body-secondary' if file['description'] else 'text-body-tertiary' }} text-truncate">
													{{ file['description'] if file['description'] else 'No description' }}
												</div>
											</div>
										</li>
										<li class="list-group-item bg-transparent py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Upload date:
												</div>
												<div class="col-md-9 text-end text-body-secondary">
													{{ file['upload_date'] }}
												</div>
											</div>
										</li>
										<li class="list-group-item bg-transparent py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Expiration date:
												</div>
												<div class="col-md-9 text-end text-body-secondary">
													{{ file['expires'] }}
												</div>
											</div>
										</li>
										<li class="list-group-item bg-transparent py-1">
											<div class="row align-items-center">
												<div class="col-md-3">
													Owner:
												</div>
												<div class="col-md-9 text-end text-body-secondary">
													{{ file['username'] }}
												</div>
											</div>
										</li>
										<li class="list-group-item bg-transparent py-1">
											<div class="row align-items-center">
												<div class="col-md-12 text-end">
													<div class="input-group">
														<input class="form-control form-control-sm border-1 shadow-none
															   focus-primary-subtle text-body-secondary"
															   type="url" id="LinkPublicFile{{ file['id'] }}"
															   value="{{ url_for('download_file', unique_file_name=file['unique_file_name'], _external=True) }}"
															   aria-label="readonly input example" readonly>
														<button class="btn btn-secondary px-1 py-0"
																style="font-size: .875rem;"
																type="button" id="button-copy-addon2"
																onclick="copyToClipboard('LinkPublicFile{{ file['id'] }}')">Copy</button>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div>
					<div class="card card-body text-center py-1 mb-2" style="font-size: .875rem;">
						Nothing yet here.
					</div>
				</div>
			{% endif %}
		</div>
		<div class="card-footer bg-stripes-body mt-2">
			<div class="row g-0 align-items-center">
				<div class="col-md-12 text-end text-body-secondary">
					<span>
						<span id="public-files-total">{{ public_files|length }}</span> files
					</span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function copyToClipboard(TextElementID) {
		  	var copyText = document.getElementById(TextElementID);

		  	copyText.select();
		  	copyText.setSelectionRange(0, 99999); // For mobile devices

		  	navigator.clipboard.writeText(copyText.value);
		}
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='reset_form.js') }}"></script>
{% endblock %}