{% set is_liked_color = 'link-danger' if post['is_liked_by_current_user'] else 'link-secondary' %}
{% set is_disabled = 'disabled' if not current_user.is_authenticated else '' %}


<button class="btn btn-link no-underline {{ is_liked_color }}"
	style="--bs-btn-padding-x: none; --bs-btn-padding-y: none;"
		page="{{ page }}"
		post_id="{{ post['id'] }}" {{ is_disabled }}>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
		 class="bi bi-heart-fill" viewBox="0 0 16 16">
		<use xlink:href="#heart-fill"/>
	</svg>
	{{ post["likes"] }}
</button>